.total-balance-con {
  text-align: center;
  padding: 1.75rem;
  background-color: black;
  border-radius: 1rem;
}

.total-balance-box {
  display: flex;
  align-items: center;
}

.total-balance-box i {
  padding: 0.5rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-content: center;
  background-color: hsl(0deg 0% 18%);
  margin-top: 5px;
}

.text-title {
  font-weight: bold;
  color: var(--color-gray);
  font-size: 16px;
}
